*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.color-green{
    color: rgba(48, 184, 104, 1);;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
header{
    background-color: #FFFFFF;
}
nav{
    width: 1600px;
    height: 92px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding:16px 120px 16px 120px;
}

nav .menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 18px auto;

}

nav a{
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    background-color: #469165;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
}

.btn2{
    background-color: #469165;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    padding: 16px 36px 16px 16px;
}

.hero-section{
    background-image: url(assets/hero-bg.png);
    width: 1600px;
    height: 674px;
    margin: 0;
    justify-content: center;

}

.hero-full{
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;
padding: 70px 120px 134px 120px;
}

.hero-section .frame{

}

.info{
    width: 1360px;
height: 295px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 16px;
}

.title{
font-style: Bold;
font-size: 72px;
line-height: 92px;
text-align: center;
color: rgba(255, 255, 255, 1)

}

.info{
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.buttons{
    margin-top: 64px;
    display: flex;
    gap:16px;
}

.info-cards{
width: 1600px;
height: 448px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 44;
padding: 120px;
}

.title-top{
    width: 1360px;
height: 116px;
}

.title1{
    text-align: center;
}

.title1 h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.title1 p{
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
}
.cards{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 24px;
}

.card1{
    width: 322px;
height: 300px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16;
padding: 24px;
border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
margin-top: 44px;
}

.card1 img{
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
}
.card1 p{
    color: #627382;
   margin-top: 16px;
   font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.card1 h3{
    color: #001931;
   margin-top: 16px;
   font-size: 24px;
   font-weight: 600;
   line-height: 29px;
    text-align: center;
}
.diagram{
width: 1600px;
height: 840px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 120px;
}
.diagram-holder{
margin-top:120px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 60px;

}

.diagram-body{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 0px;
padding: 102px 0px 102px 60px;
}
.diagram-info h4{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

.diagram-info h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    line-height: auto;
    text-align: left;
    margin-top: 16px;
}

.diagram-info p{
    margin: 0px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    color: #627382;
}
.diagram-list{
    margin-top: 40px;
    padding: 0;
    list-style: none;

}

.diagram-list li{
    color: #001931;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    list-style-type: none;
    display: flex;
    gap: 12px;
    justify-content: flex-start;
}

.diagram-list li + li {
    margin-top: 16px;
}

.fa-circle-check {
    color: #30B868;
}

.ready-section{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 40;
padding: 120px;
}

.ready-main{
width: 1360px;
height: 384px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 80px 40px 80px 40px;
border-radius: 12px;
background: rgba(247, 246, 242, 1);
}

.ready-info h1{
    color: #001931;
    font-size: 40px;    
    font-weight: bold;
    text-align: center;
    line-height: auto;
}

.ready-info p{
    color: #627382;
    font-size: 16px;    
    text-align: center;
    line-height: 24px;
    margin-top: 16px;
}
.ready-btn{
    text-align: center;
    margin-top: 24px;
}

.ready-btn p{
    margin-top: 16px;
    color: #627382;
}

